* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  width: 90vw;
  max-width: 1180px;
}
h1{
  padding: 10px 0;
  font-size: 40px;
}
p{
  padding: 20px 0;
}
.progressBars{
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  /* width: 100%; */
  background: red;
}